@import "fonts";
@import "mixins/index";
@import "components/index";
@import "screen";
@import "vars";

:root {
  $colors: (
    "primary": (
      "default": #00a6fb,
      "flat": #e3f2fd,
    ),
    "danger": (
      "default": #ef233c,
      "flat": #ffe3e0,
    ),
    "success": (
      "default": #2a9134,
      "flat": #b7efc5,
    ),
    "info": (
      "default": #ffd819,
      "flat": #fff6cc,
    ),
    "dark": (
      "default": #252422,
      "flat": #e9ecef,
    ),
    "light": (
      "default": #fff,
      "flat": #fff,
    ),
  );

  @each $key, $value in $colors {
    --m-#{$key}: #{map-get($value, "default")};
    --m-#{$key}-flat: #{map-get($value, "flat")};
  }

  @each $key, $value in $colors {
    @include mColorBuilder($value, $key);
  }
}

body {
  font-size: 14px;

  a {
    text-decoration: none;
    color: var(--m-dark) !important;
  }

  button {
    border: 0;
    outline: none;
  }
}
