.m-input {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;

  > .--container {
    width: 100%;
    border: 0 solid var(--m-border-color);
    padding: 2px 15px;
    border-radius: 0.6em;
    transition: all 0.25s ease;

    > .--in {
      gap: 15px;
      display: flex;
      align-items: center;

      .--content {
        position: relative;
        width: 100%;

        .--placeholder {
          position: absolute;
          left: 0;
          width: 100%;
          opacity: 0.3;
          transition: all 0.25s ease;
          top: 50%;
          transform: translateY(-50%);
          user-select: none;

          &.--topper {
            top: 0;
            transform: translateY(0);
            font-size: 11px;
          }

          &.--to-textarea {
            width: 100%;
            padding: 0;
            border: 0;
            padding-top: 18px;
            padding-bottom: 18px;
            position: relative;
            background-color: transparent;
            transform: unset;
          }
        }

        .--input {
          width: 100%;
          outline: none;
          padding: 0;
          border: 0;
          padding-top: 18px;
          padding-bottom: 18px;
          position: relative;
          background-color: transparent;
          font: inherit;
        }
      }
    }

    > .--textarea {
      max-height: 200px;
      margin-bottom: 10px;
    }

    &.border {
      border-width: 2px;
    }

    &.focus {
      border-color: var(--m-dark-060-color);
    }

    &.disabled {
      opacity: 0.3;
    }

    svg {
      width: 24px;
    }

    &.success {
      border-color: var(--m-success-050-color);
    }

    &.danger {
      border-color: var(--m-danger-050-color);
    }
  }

  > .--info {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    font-size: 12px;

    &.success {
      color: var(--m-success);
    }

    &.danger {
      color: var(--m-danger);
    }
  }
}
