$screen-xg: 1272px;
$screen-lg: 992px;
$screen-md: 772px;
$screen-sm: 572px;
$gap-max-width: 100px;

$screen-sizes: (
  xg: $screen-xg,
  lg: $screen-lg,
  md: $screen-md,
  sm: $screen-sm,
);

@each $key, $value in $screen-sizes {
  .m-width-#{$key},
  .--width-#{$key} {
    max-width: calc(100% - $gap-max-width) !important;
    width: var(--m-sreen-#{$key});
  }

  @media (max-width: #{$value}) {
    .m-fill-at-#{$key},
    .--fill-at-#{$key} {
      max-width: unset !important;
      border-radius: 0 !important;
      width: 100%;
    }
  }
}

.m-width-fill,
.--width-fill {
  width: 100% !important;
  border-radius: 0;
}

:root {
  @each $key, $value in $screen-sizes {
    --m-sreen-#{$key}: #{$value};
  }
}
