$sides: ("top", "left", "right", "bottom");

@each $side in $sides {
  .margin-#{$side}-auto,
  .margin-auto {
    margin-#{$side}: auto;
  }

  @for $i from 1 through 100 {
    .margin-#{$side}-#{$i},
    .margin-#{$i} {
      margin-#{$side}: #{$i}px;
    }

    .padding-#{$side}-#{$i},
    .padding-#{$i} {
      padding-#{$side}: #{$i}px;
    }
  }
}

@for $i from 1 through 100 {
  .gap-#{$i} {
    gap: #{$i}px;
  }

  .radius-#{$i},
  .radius-bottom-#{$i},
  .radius-left-#{$i} {
    border-bottom-left-radius: #{$i}px;
  }

  .radius-#{$i},
  .radius-bottom-#{$i},
  .radius-right-#{$i} {
    border-bottom-left-radius: #{$i}px;
  }

  .radius-#{$i},
  .radius-top-#{$i},
  .radius-left-#{$i} {
    border-top-left-radius: #{$i}px;
  }

  .radius-#{$i},
  .radius-top-#{$i},
  .radius-right-#{$i} {
    border-top-left-radius: #{$i}px;
  }

  .width-#{$i} {
    width: #{$i}#{"%"};
  }
  .max-width-#{$i} {
    max-width: #{$i}#{"%"};
  }

  .height-#{$i} {
    height: #{$i}#{"%"};
  }
  .max-height-#{$i} {
    max-height: #{$i}#{"%"};
  }
}

@for $i from 1 through 1000 {
  .width-#{$i}px {
    width: #{$i}px;
  }
  .max-width-#{$i}px {
    max-width: #{$i}px;
  }

  .height-#{$i}px {
    height: #{$i}px;
  }
  .max-height-#{$i}px {
    max-height: #{$i}px;
  }
}
