$sides: ("top", "left", "right", "bottom");

@each $side in $sides {
  .margin-#{$side}-auto,
  .margin-auto {
    margin-#{$side}: auto;
  }

  @for $i from 1 through 100 {
    .margin-#{$side}-#{$i},
    .margin-#{$i} {
      margin-#{$side}: #{$i}px;
    }

    .padding-#{$side}-#{$i},
    .padding-#{$i} {
      padding-#{$side}: #{$i}px;
    }
  }
}

.margin-auto,
.margin-y {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-auto,
.margin-x {
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through 100 {
  $o: 100 - $i;
  @if $o > 9 {
    $o: "0#{$o}";
  } @else {
    $o: "00#{$o}";
  }

  .margin-y-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .margin-x-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .gap-#{$i} {
    gap: #{$i}px;
  }

  .opacity-#{$o} {
    opacity: #{$i * 0.001};
  }

  .radius-#{$i},
  .radius-bottom-#{$i},
  .radius-left-#{$i} {
    border-bottom-left-radius: #{$i}px;
  }

  .radius-#{$i},
  .radius-bottom-#{$i},
  .radius-right-#{$i} {
    border-bottom-left-radius: #{$i}px;
  }

  .radius-#{$i},
  .radius-top-#{$i},
  .radius-left-#{$i} {
    border-top-left-radius: #{$i}px;
  }

  .radius-#{$i},
  .radius-top-#{$i},
  .radius-right-#{$i} {
    border-top-left-radius: #{$i}px;
  }

  .width-#{$i} {
    width: #{$i}#{"%"};
  }
  .max-width-#{$i} {
    max-width: #{$i}#{"%"};
  }

  .height-#{$i} {
    height: #{$i}#{"%"};
  }
  .max-height-#{$i} {
    max-height: #{$i}#{"%"};
  }
}

@for $i from 1 through 1000 {
  .width-#{$i}px {
    width: #{$i}px;
  }
  .max-width-#{$i}px {
    max-width: #{$i}px;
  }

  .height-#{$i}px {
    height: #{$i}px;
  }
  .max-height-#{$i}px {
    max-height: #{$i}px;
  }
}
